<ion-view title="{{parcheh.name}}">
  <ion-content has-header="true" padding="true">
      <center><h2>{{parcheh.name}}</h2>
      <img src="{{parcheh.img}}" width={{img}}></center>
      <p style="text-align:right;">{{parcheh.text}}</p>
      <div style="height:50px"></div>

    </ion-content>

    <div class="bar bar-footer" ng-controller="PooshakDetailCtrl">
      <p style="font-size:20px;text-align:center;width:{{button_screen}}px;padding:5px">قیمت : {{parcheh.amount}}</p>
    </div>
</ion-view>
