<ion-view view-title="اضافه کردن محصول">

	<ion-content class="ion-content" dir="rtl">
		<form ng-controller="HomeCtrl" id="addform"  ng-submit="add_new_kala()" action="" method="post" enctype="multipart/form-data">
		<div class="list" style="padding-left:10px; padding-right:10px">
		<label class="item item-input item-stacked-label">
			<span class="input-label">نام محصول:</span>
			<input type="text" style="font-size:15px" placeholder="نام محصول جدید" ng-model="name">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">توضیحات محصول:</span>
			<textarea rows="8" ng-model="text"></textarea>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">آدرس عکس آپلود شده در پیکوفایل از محصول:</span>
			<input type="text" style="font-size:15px" placeholder="آدرس فایل آپلود شده در پیکوفایل" ng-model="img">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">قیمت:</span>
			<input type="text" style="font-size:15px" placeholder="قیمت کالا را وارد کنید" ng-model="amount">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">موجودی محصول:</span>
			<input type="text" style="font-size:15px" placeholder="موجودی محصول را وارد کنید" ng-model="num">
		</label>
		<label class="item item-input item-stacked-label item-select">
			<span class="input-label">
			دسته بندی محصول:
			</span>
			<br>
			<select style="right: auto;padding: 13px 45px 15px 0px;direction: ltr;" id="selecteditem">
			<option>پارچه مریم</option>
			<option selected>پوشاک مریم</option>
			<option>خرازی مریم</option>
			<option>حجاب مریم</option>
			</select>
		</label>
		</div>
		<div style="padding-left:10px; padding-right:10px">
		<button class="button button-positive button-block">
			ثبت محصول جدید
		</button>
		</div>
		</form>
	</ion-content>

</ion-view>
