	<ion-view dir="rtl" view-title="فروشگاه">
		<title>فروشگاه</title>


		<!-- <ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-color-active-positive">

			<ion-tab title="حجاب مریم" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/parcheh"">
			  <ion-nav-view name="tab-parcheh"></ion-nav-view>
			</ion-tab>
			<ion-tab title="خرازی مریم" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/parcheh"">
				<ion-nav-view name="tab-parcheh"></ion-nav-view>
			</ion-tab>

			<ion-tab title="پارچه مریم" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/parcheh"">
				<ion-nav-view name="tab-parcheh"></ion-nav-view>
			</ion-tab>

			<ion-tab title="پوشاک مریم" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/parcheh"">
				<ion-nav-view name="tab-parcheh"></ion-nav-view>
			</ion-tab>

			</ion-tabs> -->
			<ion-content scroll="true">
			<div class="list">

			  <a class="item item-icon-right" href="#/pooshaks">
			    <i class="icon ion-woman"></i>
			    پوشاک مریم
			  </a>

			  <a class="item item-icon-right" href="#/parchehs">
			    <i class="icon ion-social-buffer"></i>
			    پارچه مریم
			  </a>

			  <a class="item item-icon-right" href="#/kharazis">
			    <i class="icon ion-scissors"></i>
			    خرازی مریم
			  </a>

			  <a class="item item-icon-right" href="#/hejabs">
			    <i class="icon ion-woman"></i>
			    حجاب مریم
			  </a>

			</div>
			</ion-content>

</ion-view>
