/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir.woff') format('woff'),
       url('../fonts/Vazir.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  
  ion-content,ion-tab,ion-nav-view,h1,h2,h3,h4,h5,h6,p,div,p {
    font-family: "Vazir";
    
  }
  
  .title , .button{
    font-family: "Vazir";
    text-align: "center";
    
  }
  
  .ion-header-bar , .title ,.title-center, .header-item{
    font-family: "Vazir";
    text-align: "center";
  }